$main: #3f51b5;
$error: #b71c1c;

@import './category-m';
@import './animations';


body{
  // background-color: #303030;
}
*{
  box-sizing: border-box
}

.theme--light{
  &.application,
  .main{
    background-color: #F5F5F5!important;
  }
  &.v-input:not(.v-input--is-disabled) input,
  &.v-input:not(.v-input--is-disabled) textarea{
   color: $main;
  }
  &.v-label{
    color: white;
  }
  &.v-text-field > .v-input__control > .v-input__slot:befor{
    color: white;
  }
  &.v-sheet{
    height: 100%;
  }
  
  .v-input__slot,
  .v-text-field__slot{
    .v-label{
      color: #747d8a;
      font-size: 18px;
      letter-spacing: 0.50px;
    }
    input,
    textarea {
      color: #333!important;
      &:placeholder{
        color: #547d8a!important;
      }
    }
  }
  
  .container.grid-list-md .layout .flex{
    
  }
  .v-dialog{
    .v-card__actions{
      padding: 0 24px 24px;
    }
  }
}
.errors-border{
  border: 2px solid $error!important;
}
.v-list--dense .v-list__tile:not(.v-list__tile--avatar){
  padding: 10px;
  align-items: flex-start;
  height: auto;
}


.profile{
  &__settings{
     &_info{
  }
  .settings{
    margin-top: 25px;
    padding: 30px 20px;
    background-color: white;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
    .v-input__slot{
      .v-label{
        color: #747d8a;
        font-size: 18px;
        letter-spacing: 0.50px;
      }
      input{
        color: #333!important;
        &:placeholder{
          color: #547d8a!important;
        }
      }
    }
    .v-icon{
      color: #3F51B5!important;
      opacity: 1;
    }
  }
  .card {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.125);
    &__header{
      padding: 30px;
    }
    .v-list{
      background-color: #3F51B5!important;
      .v-icon{
        color: white!important;
        opacity: 1;
      }
    }
    &__body{
      padding: 30px 0;
      .v-list__tile{
        margin-bottom: 20px;
      }
      .v-input__slot{
        .v-label{
          color: white;
          font-weight: 500;
          font-size: 18px;
          letter-spacing: 0.50px;
      
        }
        input{
          color: #ccc!important;
          font-weight: 500;;
        }
        &:before{
          display: none;
        }
      }

    }
  }
  .avatar {
    text-align: center;
      .img{
        display: inline-block;
        border-radius: 50% !important;
        object-fit: cover;
      }
      .v-icon{
        font-size: 150px;  
      }
    }
  }
}
.inbox{
  &__container{
    height: 100%;
  }
  &.no-inbox{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.user {
  width: 100%;
  max-width: 320px;
  padding: 28px 28px 50px;
  color: white;
  border: 2px solid transparent;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
  background-color: white;
  &.errors-border{
    .user{
      &__errors{
        position: absolute;
        bottom: 15px;
        left: 28px;
      }
      &__title{
        color: $error;
      }
    }
   
  }
  &__sign {
  }
  .v-input__icon{
    .v-icon{
      color: $main;
    }
  }
  &__login {
    
  }
  &__title{
    margin-bottom: 18px;
    text-align: center;
    .v-icon{
      font-size: 105px;  
    }
  }
  .v-input{
    margin-bottom: 8px;
  }
  &__btn{
    width: 100%;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid $main!important;
    color: #FDFDFD!important;
    margin-left: 0;
    margin-right: 0;
    &.theme--light.v-btn.v-btn--disabled:not(.v-btn--icon):not(.v-btn--flat):not(.v-btn--outline).v-btn--disabled{
      background-color: $main!important;
      color: #FDFDFD!important;
      opacity: 0.8;
    }
  }
  
  &__footer{
    display: inline-block;
    width: 100%;
    color: $main;
    margin-top: 15px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.22px;
    text-decoration: none;
  }
}

.v-overlay--active:before{
  opacity: 0.1;
}
.navbar-menu{
  &.v-navigation-drawer > .v-list:not(.v-list--dense) .v-list__tile{
    padding-left: 0; 
  }
  .v-navigation-drawer__border{
    display: none;
  }
  &__header{
    font-size: 24px;
    padding: 0!important;
    background-color: $main!important;
    color: white!important;
    .v-list__tile__title{
      font-size: 18px;
      letter-spacing: 0.45px;
    }
  }
  .navbar-active{
    .v-list__tile{
      &__content{
      color: $main;
      }
      &__action{
        .v-icon{
          color: $main;
        }
      }
    }
  }
}
.content__main{
  height: 100%;
  .main{
    height: 100%;
    .dashboard{
      height: 100%;
      
      .table,
      .status__table{
        height: 100%;
      }
      &-products{
        &.no_products{
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          .label{
            width: 100%;
            font-size: 24px;
            text-align: center;
          }
        }
        .v-toolbar__content{
          box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
        }
      }
    }
  }
}
@media screen and (min-width: 960px){
  .profile{
    &__settings{
      padding: 20px;
       &_info{
         padding-right: 30px;
      }
      .settings{
        margin-top: 0px;
        .v-label{
        }
      }
    }
  }
}



.status__table{
  // TableAdmin
  .tabs,
  .status__container,
  .status{
    height: 100%;
  }
  .keywords{

  }
.products-card{
  &__container{
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
    height: 100%;
    background-color: #fff;

  }
  &__items{
    padding: 20px;
    position: relative;
    .user__documents{
      &-links{
        margin-bottom: 10px;
        .link{
          word-break: break-all;
        }
      }
      .title{
        font-size: #666!important;
        margin-bottom: 20px!important;
      }
    }
  }
  &__item{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    
    &-data{
      width: 100%;
      margin-bottom: 10px;
    }
    .label{
      width: 100%;
      font-weight: 600;
    }
    .value{
      width: 100%;
      .v-btn{
        text-transform: capitalize;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        margin-bottom: 10px;
      }
      .actions{
        padding: 10px;
      }
    }
    &.links{
      flex-wrap: wrap;
      .links{
        &__container{
          width: 100%;
          list-style: none;
          padding: 0;
        }
  
        &__item{
          margin-bottom: 20px;
          .v-icon{
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
          }
          a{
            word-break: break-all;
          }
        }
      }
    }
    .parse{
      margin-top: 15px;
      display: flex;
      flex-wrap: wrap;
      width: 100%; 
      &__title{
        width: 100%;
      }
      &__range{
        padding-top: 40px;
        width: 100%;
        input{
          width: 100%;
        }
      }
    }
  }
  &__title{
    font-weight: 500;
    font-weight: 500;
    font-size: 24px;
  }
  &__icon{
    position: absolute;
    top: 17px;
    right: 22px;
  }
}
}
.checkout-card{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  &.w100{
    .v-input{
      width: 100%;
    }
  }
  &__title{
    font-size: 20px;
    font-weight: 400;
    margin-right: auto;
    margin-bottom: 20px;
    width: 100%;
  }
 .inputs__container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .v-btn{
      align-self: flex-end;
    }
  }
}
.chat{
  &__main{
    overflow-y: scroll;
  }
  .message{
    &__item{
      margin-bottom: 10px;
      width: 90%;
      .text{
        border-radius: 10px;
        padding: 10px 20px;
        display: inline-block;
        background-color: $main;
        color: white;
      }
    }
    &__admin{
      margin-left: auto;  
      text-align: right;
    }
  }
  
  &__footer{
    display: flex;
    align-items: center;
    padding: 16px;
  }
}

.paginations{
  text-align: center;
  margin-bottom: 20px;   
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s ease;
}
.fade-enter, .fade-leave-active {
  opacity: 0;
}
.child-view {
  position: absolute;
  transition: all .5s cubic-bezier(.55,0,.1,1);
}
.slide-left-enter, .slide-right-leave-active {
  opacity: 0;
  transform: translate(100%, 0);
}
.slide-left-leave-active, .slide-right-enter {
  opacity: 0;
  transform: translate(-100%, 0);
}