@import './category-m';
body{
  background-color: green;
}

.profile{
  &__settings{
     &_info{
    // padding-right: 30px;
    // text-align: center;
  }
  .settings{
    background-color: #263238;
    // padding: 30px 20px;
    .v-label{
      // color: #747d8a;
    }
    input{
      color: #547d8a!important;
      &:placeholder{
        color: #547d8a!important;
      }
    }
  }
  .card {
    background-color: #263238;
    border: 1px solid rgba(0, 0, 0, 0.125);
    &__header{
      padding: 30px;
    }
    &__body{
      padding: 30px 0;
      .v-list__tile{
        margin-bottom: 20px;
      }
      .v-input__slot{
        .v-label{
          color: white;
        }
        &:before{
          display: none;
        }
      }

    }
  }
  .avatar {
    border-radius: 50% !important;
    margin: 0 auto;
  }
  }
}

.user {
  width: 100%;
  max-width: 780px;
  border: 1px solid white;
  padding: 28px;
  border-radius: 18px;
  background-color: rgba(0, 0, 0, 0.2);

  &__sign {
  }

  &__login {
  }
}

.v-overlay--active:before{
  opacity: 0.1;
}