@import './category-m';
$main: #5CA28B;
$error: #b71c1c;
body{
  background-color: #303030;
}
*{
  box-sizing: border-box
}

.theme--dark{
  &.application{
    background-color: #303030!important;
  }
  //&.v-input:not(.v-input--is-disabled) input,
  //&.v-input:not(.v-input--is-disabled) textarea{
  //  color: $main;
  //}
  &.v-sheet{
    height: 100%;
  }
}
.errors-border{
  border: 2px solid $error!important;
}
.v-list--dense .v-list__tile:not(.v-list__tile--avatar){
  padding: 10px;
  align-items: flex-start;
  height: auto;
}


.profile{
  &__settings{
     &_info{
  }
  .settings{
    margin-top: 25px;
    padding: 30px 20px;
    background-color: #263238;
    .v-label{
      color: #747d8a;
    }
    input{
      color: #547d8a!important;
      &:placeholder{
        color: #547d8a!important;
      }
    }
  }
  .card {
    background-color: #263238;
    border: 1px solid rgba(0, 0, 0, 0.125);
    &__header{
      padding: 30px;
    }
    &__body{
      padding: 30px 0;
      .v-list__tile{
        margin-bottom: 20px;
      }
      .v-input__slot{
        .v-label{
          color: white;
        }
        &:before{
          display: none;
        }
      }

    }
  }
  .avatar {
    border-radius: 50% !important;
    margin: 0 auto;
  }
  }
}

.user {
  width: 100%;
  max-width: 320px;
  padding: 28px 28px 50px;
  color: white;
  border: 2px solid transparent;
  border-radius: 10px;
  position: relative;
  &.errors-border{
    .user{
      &__errors{
        display: none;
        position: absolute;
        bottom: 15px;
        left: 28px;
      }
      &__title{
        color: $error;
      }
    }
   
  }
  &__sign {
  }

  &__login {
  }
  &__title{
    margin-bottom: 18px;
  }
  .v-input{
    margin-bottom: 8px;
  }
  &__btn{
    width: 100%;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid $main!important;
    color: #FDFDFD!important;
    margin-left: 0;
    margin-right: 0;
  }
  &__footer{
    display: inline-block;
    width: 100%;
    color: $main;
    margin-top: 15px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.22px;
    text-decoration: none;
  }
}

.v-overlay--active:before{
  opacity: 0.1;
}

@media screen and (min-width: 960px){
  .profile{
    &__settings{
      padding: 20px;
       &_info{
         padding-right: 30px;
      }
      .settings{
        margin-top: 0px;
        .v-label{
        }
      }
    }
  }
}